{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>хихихи</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'glag_to_kir/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Glagolitic&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ponomar&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header style="text-align: center; margin-top: 25px; margin-bottom: 25px;">
        <h1>Глаголица? Кириллица? Мы могём всё!</h1>
    </header>

    <div class="container">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}

                <div class="form-group">

                    <textarea id="text-input" name="text" class="form-control" rows='11' placeholder="Введите текст..."></textarea>
                </div>
            <button type="submit" class="btn-submit">Преобразовать</button>
        </form>

            {% if result %}
            <div class="result-box">
                <h3>Результат:</h3>
                <div class="result-text">{{ result }}</div>
            </div>
            {% endif %}

    </div>
    <div class="col-md-6">
        <div class="keyboard-container">
            <div class="glagolitic-keyboard">
                <div class="keyboard-row">
                    <button class="key" data-char="Ⰰ">Ⰰ</button>
                    <button class="key" data-char="Ⰱ">Ⰱ</button>
                    <button class="key" data-char="Ⰲ">Ⰲ</button>
                    <button class="key" data-char="Ⰳ">Ⰳ</button>
                    <button class="key" data-char="Ⰴ">Ⰴ</button>
                    <button class="key" data-char="Ⰵ">Ⰵ</button>
                    <button class="key" data-char="Ⰶ">Ⰶ</button>
                    <button class="key" data-char="Ⰷ">Ⰷ</button>
                    <button class="key" data-char="Ⰸ">Ⰸ</button>
                    <button class="key" data-char="Ⰹ">Ⰹ</button>
                </div>
                <div class="keyboard-row">
                    <button class="key" data-char="Ⰺ">Ⰺ</button>
                    <button class="key" data-char="Ⰻ">Ⰻ</button>
                    <button class="key" data-char="Ⰼ">Ⰼ</button>
                    <button class="key" data-char="Ⰽ">Ⰽ</button>
                    <button class="key" data-char="Ⰾ">Ⰾ</button>
                    <button class="key" data-char="Ⰿ">Ⰿ</button>
                    <button class="key" data-char="Ⱀ">Ⱀ</button>
                    <button class="key" data-char="Ⱁ">Ⱁ</button>
                    <button class="key" data-char="Ⱂ">Ⱂ</button>
                    <button class="key" data-char="Ⱃ">Ⱃ</button>
                </div>
                <div class="keyboard-row">
                    <button class="key" data-char="Ⱄ">Ⱄ</button>
                    <button class="key" data-char="Ⱅ">Ⱅ</button>
                    <button class="key" data-char="Ⱆ">Ⱆ</button>
                    <button class="key" data-char="Ⱇ">Ⱇ</button>
                    <button class="key" data-char="Ⱈ">Ⱈ</button>
                    <button class="key" data-char="Ⱉ">Ⱉ</button>
                    <button class="key" data-char="Ⱊ">Ⱊ</button>
                    <button class="key" data-char="Ⱋ">Ⱋ</button>
                    <button class="key" data-char="Ⱌ">Ⱌ</button>
                    <button class="key" data-char="Ⱍ">Ⱍ</button>
                </div>
                <div class="keyboard-row">
                    <button class="key" data-char="Ⱎ">Ⱎ</button>
                    <button class="key" data-char="Ⱏ">Ⱏ</button>
                    <button class="key" data-char="Ⱐ">Ⱐ</button>
                    <button class="key" data-char="Ⱑ">Ⱑ</button>
                    <button class="key" data-char="Ⱒ">Ⱒ</button>
                    <button class="key" data-char="Ⱓ">Ⱓ</button>
                    <button class="key" data-char="Ⱔ">Ⱔ</button>
                    <button class="key" data-char="Ⱕ">Ⱕ</button>
                    <button class="key" data-char="Ⱖ">Ⱖ</button>
                    <button class="key" data-char="Ⱗ">Ⱗ</button>
                </div>
            </div>
        <div class="keyboard-container">
            <div class="glagolitic-keyboard">
                <div class="keyboard-row">
                    <button class="key" data-char="а">a</button>
                    <button class="key" data-char="б">б</button>
                    <button class="key" data-char="в">в</button>
                    <button class="key" data-char="г">г</button>
                    <button class="key" data-char="д">д</button>
                    <button class="key" data-char="є">є</button>
                    <button class="key" data-char="ж">ж</button>
                    <button class="key" data-char="ѕ">ѕ</button>
                    <button class="key" data-char="з">з</button>
                    <button class="key" data-char="и">и</button>
                </div>
                <div class="keyboard-row">
                    <button class="key" data-char="і">і</button>
                    <button class="key" data-char="к"> к</button>
                    <button class="key" data-char="л">л</button>
                    <button class="key" data-char="м">м</button>
                    <button class="key" data-char="н">н</button>
                    <button class="key" data-char="о">о</button>
                    <button class="key" data-char="п">п</button>
                    <button class="key" data-char="р">р</button>
                    <button class="key" data-char="с">с</button>
                    <button class="key" data-char="т">т</button>
                </div>
                <div class="keyboard-row">
                    <button class="key" data-char="оу">оу</button>
                    <button class="key" data-char="ф">ф</button>
                    <button class="key" data-char="х">х</button>
                    <button class="key" data-char="ѡ">ѡ</button>
                    <button class="key" data-char="ц">ц</button>
                    <button class="key" data-char="ч">ч</button>
                    <button class="key" data-char="ш">ш</button>
                    <button class="key" data-char="щ">щ</button>
                    <button class="key" data-char="ъ">ъ</button>
                    <button class="key" data-char="ы">ы</button>
                </div>
                <div class="keyboard-row">
                    <button class="key" data-char="ь">ь</button>
                    <button class="key" data-char="ѣ">ѣ</button>
                    <button class="key" data-char="ю">ю</button>
                    <button class="key" data-char="ꙗ">ꙗ</button>
                    <button class="key" data-char="ѥ">ѥ</button>
                    <button class="key" data-char="ѧ">ѧ</button>
                    <button class="key" data-char="ѫ">ѫ</button>
                    <button class="key" data-char="ѩ">ѩ</button>
                    <button class="key" data-char="ѭ">ѭ</button>
                </div>
                <div class="keyboard-row">
                    <button type="button" class="key special space" data-char=" ">Пробел</button>
                    <button type="button" class="key special" data-action="backspace">⌫ </button>
                </div>
            </div>


        </div>
    <script src="{% static 'glag_to_kir/js/keyboard.js' %}?v=1"></script>
</body>
</html>

