/* Основные стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #696969;
    margin: 0;
    padding: 20px;
    color: #333;
    background-image: url('../../images/фон2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* Самый первый заголовок */
.ponomar-regular {
  font-family: "Ponomar", system-ui;
  font-weight: 400;
  font-style: normal;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #8B6D5C;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1 {
    font-family: 'Ponomar', sans-serif;
    color: #FFE4C4;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

/* Поле ввода */
.form-control {
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 25px;
    margin-bottom: 20px;
    resize: vertical;
    overflow-y: auto;
    transition: border 0.3s;
    background-color: #ecf0f1;
    font-family: "Montserrat", sans-serif;
}

.form-control:focus {
    border-color: #3498db;
    outline: none;
}

/* Клавиатура */
.keyboard-container {
    background: #ecf0f1;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.result-text {
    white-space: pre-wrap;
    word-break: break-word;
    overflow: auto;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 8px;
}

.key {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background: white;
    font-family: 'Noto Sans Glagolitic', sans-serif;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    transition: all 0.2s;
    user-select: none;
}

.key:hover {
    background: #3498db;
    color: white;
    transform: translateY(-2px);
}

.key:active {
    transform: translateY(0);
}

.key.special {
    background: #bdc3c7;
    font-size: 10px;
}

.key.space {
    width: 300px;
}

/* Кнопка отправки */
.btn-submit {
    background: #FFE4C4;
    font-family: "Montserrat", sans-serif;
    border: none;
    padding: 12px 25px;
    font-size: 20px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    transition: background 0.3s;
}

.btn-submit:hover {
    background: #BDECB6;
}

/* Результат */
.result-box {
    margin-top: 30px;
    padding: 20px;
    background: #ecf0f1;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-family: "Montserrat", sans-serif;

}

.result-text {
    font-family: "Montserrat", sans-serif;;
    font-size: 20px;
    white-space: pre-wrap;
    line-height: 1.6;
}
